{% if section.settings.button_bot != blank %}
    <div class="btn-bot text-{{ section.settings.align-heading }} mt-65">
        <a href="{{ section.settings.link_bot }}" class="btn {{ section.settings.style_btn_bot }}">
            {{ section.settings.button_bot }}
        </a>
    </div>
{% endif %}