@import "tailwindcss";

@layer utilities {
  .text-brand {
    color: rgb(128, 66, 148);
  }

  .bg-brand {
    background-color: rgb(128, 66, 148);
  }

  .container-lg {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: theme(spacing.2);
    padding-right: theme(spacing.2);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }

  .container-sm {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: theme(spacing.1);
    padding-right: theme(spacing.1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }

  .container-md {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: theme(spacing.3);
    padding-right: theme(spacing.3);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }

  .rc-slider-dot-active {
    border-color: white !important;
  }

  /* Remove default blue dot effect */
  .rc-slider-dot-active::after {
    border-color: white !important;
  }

  .rc-slider-dot {
    border-color: white !important;
  }


  .border-brand {
    border-color: rgb(128, 66, 148);
  }

}

#ring-builder{
  all: unset !important;
} 