.button-show-more {
  padding-left: 0;
  justify-content: flex-start;
  padding-bottom: 1.1rem;
}

.button-show-more, 
.button-show-less {
  margin-top: 0.5rem;
  padding-left: 0 !important;
  font-size: 80%;
}
